<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create article</title>
    <link rel="stylesheet" href="../../static/styles/reset.css" th:href="@{/styles/reset.css}"/>
    <link rel="stylesheet" href="../../static/styles/styles.css" th:href="@{/styles/styles.css}"/>
</head>
<body>
    <main class="admin-main">
        <section class="main-section">
            <h3> Создание поста </h3>

            <section class="admin-section bordered">
                <form action="/admin/create-article" method="POST">
                    <div class="input-container">
                        <label for="article-header"> Заголовок поста </label>
                        <input id="article-header" name="article-header" required/>
                    </div>

                    <div class="input-container">
                        <label for="article-body"> Тело поста </label>
                        <textarea id="article-body" rows="30" name="article-body" required></textarea>
                    </div>

                    <div th:replace="~{common :: csrf-input}"></div>

                    <button> Опубликовать </button>
                </form>
            </section>
        </section>

        <aside>
            <div th:replace="~{admin/common :: nav-bar}"></div>
        </aside>
    </main>
</body>
</html>