<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Article </title>
    <link rel="stylesheet" href="../../static/styles/reset.css" th:href="@{/styles/reset.css}"/>
    <link rel="stylesheet" href="../../static/styles/styles.css" th:href="@{/styles/styles.css}"/>
    <link rel="stylesheet" href="../../static/styles/typography.css" th:href="@{/styles/typography.css}"/>
    <link rel="stylesheet" href="../../static/styles/article.css" th:href="@{/styles/article.css}"/>
</head>
<body>
    <main>
        <section class="main-section">
            <a id="to-main-header" href="/cringe"> На главную </a>
            <article class="article bordered">
                <div>
                    <h2 class="article-header-text" th:text="${article.header}"> Твой батя моему в подметки не годится </h2>
                    <div class="article-header-date" th:text="${article.creationDate}"> 16-09-2005 </div>
                </div>

                <div class="typography" th:utext="${article.body}">
                    <p> Твой батя моему в подметки не годится. Мой ебашит вообще адовые блюда. </p>

                    Ну такой вот примерно рецепт усредненный, потому что вариаций масса. Берется суп, он не греется, греть – это не про моего батю.
                    Он берет это суп, вываливает его на сковороду и начинает жарить. Добавляет в него огромное количество лука, чеснока, перца черного и красного МУКИ!
                    для вязкости, томатная паста сверху.

                    <p> Все это жарится до дыма. Потом снимается с огня и остужается на балконе. Потом батя заносит и щедро полив майонезом начинает есть. При этом ест со сковороды шкрябая по ней ложкой.
                        Ест и приговаривает полушепотом ух бля. При этом у него на лбу аж пот выступает. </p>

                    <p> Любезно мне иногда предлагает, но я отказываюсь. Надо ли говорить о том какой дичайший пердеж потом?
                        Вонища такая, что обои от стен отклеиваются. </p>
                </div>
            </article>

            <section class="comment-section">
                <h2> Комментарии </h2>

                <div>
                    <a href="#" th:href="@{/write-comment(article-id=${article.id})}" id="write-comment">
                        Написать комментарий
                    </a>
                </div>

                <div class="comment" th:each="comment: ${comments}">
                    <div class="comment-indent">
                        <span class="indent" th:each="indent: ${comment.indent}"></span>
                    </div>

                    <div class="comment-body" >
                        <div class="comment-header">
                            <span class="comment-author" th:text="${comment.author}"> Default value </span>
                            <span class="comment-datetime" th:text="${comment.creationDate}"> 17-09-2003 19:48 </span>
                        </div>

                        <!-- Careful when allowing guests to use arbitrary tags in comments !-->
                        <div class="typography" th:text="${comment.text}">
                            ахахахахах
                        </div>

                        <div> <a href="#" th:href="@{/write-comment(article-id=${article.id}, response-to=${comment.id})}"> Ответить </a> </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>
</html>