<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Errors </title>

    <link rel="stylesheet" href="../../static/styles/reset.css" th:href="@{/styles/reset.css}"/>
    <link rel="stylesheet" href="../../static/styles/styles.css" th:href="@{/styles/styles.css}"/>
</head>
<body>
    <main>
        <section class="main-section">
            <section>
                <h1> Похоже, что что-то не так: </h1>
                <div  th:each="errorMessage: ${violations}">
                    <div class="error-message" th:text="${errorMessage}"> </div>
                </div>
            </section>
        </section>
    </main>
</body>
</html>