<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <link rel="stylesheet" href="../../static/styles/reset.css" th:href="@{/styles/reset.css}"/>
    <link rel="stylesheet" href="../../static/styles/styles.css" th:href="@{/styles/styles.css}"/>
    <link rel="stylesheet" href="../../static/styles/home.css" th:href="@{/styles/home.css}"/>
</head>
<body>
    <main id="home-main">
        <section class="main-section">
            <h1 id="home-header"> Список кринжей </h1>

            <ul>
                <div class="article-preview bordered">
                    <div class="preview-header">
                        <h2 href="#" class="preview-header-text"> This is a preview header </h2>
                        <div class="preview-header-date"> 16-09-2005 </div>
                    </div>

                    <div class="preview-content">
                        <p> This is a preview content. It should have formatting same as article. </p>
                        <p> This is a second paragraph in preview.</p>
                    </div>

                    <div>
                        <a href="#" class="read-more"> Читать далее...</a>
                    </div>
                </div>
            </ul>
        </section>
    </main>
</body>
</html>