main {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 50px;
}

input, textarea {
    padding: 5px;
    font-family: monospace;
    border: 2px solid grey;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    padding: 5px;
}

fieldset {
    border: 2px solid grey;
    border-radius: 5px;
    background: white;
}

li {
    padding: 5px;
}

input[type="radio"] {
    margin: 5px;
}

a {
    color: green;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin-main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 50px;
    gap: 50px;
}

.main-section, .admin-main > aside {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.article-header-text {
    font-size: 2rem;
    color: black;
    font-weight: bold;
    --font-style: italic;
    margin-bottom: 0;
}

.article-header-date {
    color: gray;
    margin-top: 5px;
    font-style: italic;
}

.side-banner {
    padding: 15px;
}

.bordered {
    background: beige;
    --background: ghostwhite;
    border: 2px solid grey;
    border-radius: 15px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

section > table {
    text-align: center;
    font-family: monospace;
    border-collapse: collapse;
}

section > table td,
section > table th {
    padding: 10px;
}

section > table tr:nth-child(even) {
    background-color: white;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
